{# templates/Book/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Book list{% endblock %}

{% block body %}
    <div>
        <h1>Books</h1>
        <h2>List</h2>
        {% if books is empty %}
            <p>
                No books found!
            </p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Release date</th>
                        <th>Publisher</th>
                        <th>Authors</th>
                        <th>Options</th>
                    </tr>
                </thead>
                {% for book in books %}
                    <tbody>
                        <tr>
                            <td>
                                {{ book.name }}
                            </td>
                            <td>
                                {% if book.releaseDate is null %}
                                    &ndash;
                                {% else %}
                                    {{ book.releaseDate | date('Y-m-d') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if book.publisher is null %}
                                    &ndash;
                                {% else %}
                                    {{ book.publisher.name }}
                                {% endif %}
                            </td>
                            <td>
                                {# book.authors #}
                            </td>
                            <td>
                                <a href="{{ path('book_edit', {'uuid': book.uuid}) }}">Edit</a>
                                |
                                Delete {#<a href="{{ path('book_remove', {'uuid': book.uuid}) }}">Delete</a>#}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        {% endif %}
        <h3>Options</h3>
        <ul>
            <li>
                <a href="{{ path('book_insert') }}">Insert book</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}">Go back</a>
            </li>
        </ul>
    </div>
{% endblock %}
